@media (min-width: 768px) and (max-width: 990px) {
    .navigation {
        background: rgba(0,0,0,0.3);
        .navbar-brand {
            float: none;
        }
    }

}

//Bootstrap breakpoints

@mixin mobile-and-down {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin tablet-and-down {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin desktop-and-down {
    @media (max-width: 992px) {
        @content;
    }
}

@mixin lg-desktop-and-down {
    @media (max-width: 1200px) {
        @content;
    }
}