@import './responsive.scss';
$brand-color: #DE9E36;
$brand-color-dark: #9a6c22;
$text-color: #444;
$text-light-color: #666;

@font-face {
  font-family: BrandonGrotesque;
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/BrandonGrotesque-Light.otf") format("opentype");
}

@font-face {
  font-family: BrandonGrotesque;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/BrandonGrotesque-Normal.otf") format("opentype");
}

@font-face {
  font-family: BrandonGrotesque;
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/BrandonGrotesque-Medium.otf") format("opentype");
}

@font-face {
  font-family: BrandonGrotesque;
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/BrandonGrotesque-Bold.otf") format("opentype");
}

// Variables
$primary-font: 'BrandonGrotesque', sans-serif;
$secondary-font: 'Roboto', sans-serif;

/*--
    Common Css
--*/
body {
  color: $text-color;
  font-size: 14px;
  font-weight: 300;
  line-height: 25px;
  font-family: $secondary-font;
  -webkit-font-smoothing: antialiased;
}

.inverted {
  color: white;

  p {
    font-weight: 500;
  }
}

.heading {
  text-align: center;
}

b {
  font-weight: bold;
}

.display {
  font-family: $primary-font;
  font-size: 60px;
  line-height: 70px;
  font-weight: bold;
  margin-bottom: 26px;
}

.modal {
  &-content {
    border: 0;
    padding: 40px;
  }

  &-header, &-body, &-footer {
    padding: 0;
    border: 0;
  }

  &-title {
    font-size: 40px;
  }
}

h1 {
  font-family: $primary-font;
  font-size: 44px;
  line-height: 56px;
  margin-bottom: 18px;
  font-weight: bold;

  @include tablet-and-down {
    font-size: 30px;
  }
}

h2 {
  font-family: $primary-font;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 26px;
  font-weight: bold;

  @include tablet-and-down {
    font-size: 24px;
  }
}

h3 {
  font-family: $primary-font;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 16px;
  font-weight: bold;

  @include tablet-and-down {
    font-size: 20px;
  }
}

h4 {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;

  @include tablet-and-down {
    font-size: 18px;
  }
}

p {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 25px;
  margin: 0px;

  a {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  font-family: $primary-font;
  font-weight: 600;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.bg-opacity {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
  }
}

a:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none;
}

.section {
  height: auto;
  padding: 100px 0;

  @include desktop-and-down {
    padding: 50px 20px;
  }
}

/*--
    custom heading
--*/
.text-center {
  text-align: center;
}

.underline {
  position: relative;

  &::after {
    height: 8px;
    opacity: .8;
    width: 100%;
    position: absolute;
    content:"";
    z-index: -1;
    left: 0;
    top: 63px;
    background-color: $brand-color;
    transition: 300ms;
  }
}

.btn {
  outline: none;
  font-weight: bold;
  font-family: $primary-font;
  color: white;
  border-radius: 33px;
  font-size: 18px;
  padding: 15px 40px;
  display: inline-block;
  background-color: $brand-color;
  transition: background-color .3s ease-in-out;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    border: 2px solid $brand-color;
    color: $brand-color;
    background-color: white;
  }

}

.mc-subscribe-bar {
  text-align: center;

  label {
    color: $text-color;
    font-weight: bold;
    margin: 12px 0;
  }
}

.input-group {
  height: 52px;
  margin-top: 30px;

  &.borderless {
    .btn, input {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  .btn {
    height: 100%;
    border: none;
    background-color: $brand-color;

    &:hover {
      color: white;
      background-color: $brand-color-dark;
    }

    &.dark {
      background-color: $text-color;

      &:hover {
        color: white;
        background-color: $text-light-color;
      }
    }
  }

  input {
    outline: none;
    height: 100%;
    border-top-left-radius: 33px;
    border-bottom-left-radius: 33px;
    border: 1px solid $brand-color;
    padding: 5px 25px;
    box-shadow: none;

    &:focus {
      border: 1px solid $brand-color;
    }
  }
}

/*--
    .hero-area start
--*/
.hero {
  min-height: 80vh;
  display: flex;
  align-items: center;

  h4 {
    margin-bottom: 34px;
  }
}

/* .hero-area  */

.navigation {
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 20px 0;
  margin: 0;
  border: 0;

  .navbar-brand {
    display: inline-block;
  }

  .navbar-toggler {
    background: #fff;
    outline: none;
    border-radius: 0;
    float: right;

    i {
      font-size: 22px;
    }
  }
}

.logo {
  display: inline-block;

  h1 {
    color: $brand-color;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    line-height: 1;
  }

  .logo-image {
    width: 120px;
    height: auto;
  }
}

.menu {
  margin-top: 14px;

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      font-family: $primary-font;
      color: $text-color;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $brand-color;
        background: none;
      }
    }
  }
}

.promo-details {
  background-color: #f8f7f6;
}

/*--
    feature start
--*/
.feature {
  background-image: url(../images/paus4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  .feature-box {
    margin-bottom: 40px;

    i {
      font-size: 30px;
      margin-bottom: 10px;
      display: inline-block;
    }
  }
}
/*--
    service start
--*/

.about {
  .about-block {
    padding: 0 10px;

    .author-details {
      margin-top: 30px;

      &__contact {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
      }

      i {
        font-size: 22px;
        display: inline-block;
        margin: 0 5px;
        color: $text-color;
        transition: 1s linear ease-in-out;

        &:hover {
          color: #666;
        }
      }

      h3 {
        margin-bottom: 0;
      }

      h4  {
        font-style: italic;
      }

      img {
        border-radius: 50%;
        width: 150px;
        filter: grayscale(100%);
        margin-bottom: 20px;
      }
    }
  }
}

/*--
    call-to-action start
--*/

.call-to-action {
  background-image: linear-gradient(to right, $brand-color , #e9be2e);

  .block {
    h2 {
      margin-bottom: 6px;
      color: #fff;
      padding-bottom: 0;
    }

    p {
      font-weight: bold;
      padding-right: 30px;
      color: #fff;
    }
  }
}

footer {
  text-align: center;
  background: #f4f4f4;
  padding: 50px 0px;

  .logo-footer {
    height: auto;
    width: 100px;
  }

  p.copyright-text {
    font-weight: 300;
    font-size: 12px;
    color: #888;
    letter-spacing: 3px;
    margin-top: 15px;

    a {
      color: #282828;
      text-decoration: none;
    }
  }
}