{{- with .Site.Params.call_to_action }}
<section class="call-to-action section bg-opacity bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow text-center">
        <div class="block">
          <h2 class="subheading">{{ .title }}</h2>
          <p>{{ .text }}</p>
          <div class="col-lg-6 offset-lg-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{ .placeholder }}">
              <span class="input-group-btn">
                <button class="btn" type="button">{{ .button_text }}</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}