<!-- Feature start -->
{{- with .Site.Params.features }}
<section class="feature section" id="feature">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h1>{{ .title }}</h1>
      </div>
      <div class="col-md-4">
      {{- range .left }}
        <div class="feature-box">
          <i class="{{ .icon }}"></i>
          <h3>{{ .title }}</h3>
          <p>{{ .text }}</p>
        </div>
      {{- end }}
      </div>
      {{- with .image }}
      <div class="col-md-4 text-center">
        <img src="{{ relURL .path }}" alt="{{ .alt }}">
      </div>
      {{- end }}
      <div class="col-md-4">
      {{- range .right }}
        <div class="feature-box">
          <i class="{{ .icon }}"></i>
          <h3>{{ .title }}</h3>
          <p>{{ .text }}</p>
        </div>
      {{- end }}
      </div>
    </div>
  </div><!-- .container close -->
</section><!-- #service close -->
{{- end }}