{{- with .Site.Params.about }}
<section class="about section" id="about">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h2>{{ .title }}</h2>
      </div>
      {{- range first 2 .blocks }}
      <div class="col-md-6 text-center">
        <div class="about-block">
          <div class="author-details">
            <img src="{{ .image }}" alt="">
            <h3>{{ .name }}</h3>
            <h4>{{ .position }}</h4>
            <h4>{{ .expertise }}</h4>
            <div class="author-details__contact">
              <a href="{{ .twitter }}" target="_blank" rel="noreferrer"><i class="fab fa-twitter-square"></i></a>
              <a href="{{ .instagram }}" target="_blank" rel="noreferrer"><i class="fab fa-instagram"></i></a>
              <a href="{{ .linkedin }}" target="_blank" rel="noreferrer"><i class="fab fa-linkedin"></i></a>
            </div>
            <p>{{ .text }}</p>
          </div>
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{ end }}