{{- with .Site.Params.call_to_action }}
<section class="call-to-action section" id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow text-center">
        <div class="block">
          <h2 class="subheading">{{ .title }}</h2>
          <p>{{ .text }}</p>
          <div class="col-lg-6 offset-lg-3">
              <form class="mc-subscribe-bar">
                  <div class="input-group borderless">
                    <input type="email" class="form-control" id="mc-email-cta" placeholder="{{ .placeholder }}">
                    <span class="input-group-btn">
                      <button class="btn dark" type="submit">{{ .button_text }}</button>
                    </span>
                 </div>
                 <label for="mc-email-cta"></label>
              </form>
          </div><!-- /.col-lg-6 -->
        </div>
      </div>
    </div>
  </div>
</section><!-- #call-to-action close -->
{{- end }}