<!-- Feature start -->
{{- with .Site.Params.features }}
<section class="feature section inverted" id="feature">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h2>{{ .title }}</h2>
      </div>
      {{- range .left }}
      <div class="col-md-3">
        <div class="feature-box">
          <i class="{{ .icon }}"></i>
          <h3>{{ .title }}</h3>
          <p>{{ .text }}</p>
        </div>
      </div>
      {{- end }}
    </div>
  </div><!-- .container close -->
</section><!-- #service close -->
{{- end }}