{{- with .Site.Params.navbar }}
<footer>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <img class="logo-footer" src="{{ relURL .logo }}" alt="">
          <ul class="menu">
          {{- range .menu }}
            <li>
              <a href="{{ .link }}">{{ .text }}</a>
            </li>
          {{- end }}
          </ul>
          <p class="copyright-text">Copyright &copy; 2019 Paus | All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
{{- end }}