<!--
Header start
==================== -->
{{- with .Site.Params.header }}
<section class="hero section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="block">
          <div class="display">{{ .title | markdownify }}</div>
          <h4>{{ .text }}</h4>
          {{- with .button }}
            <!-- Button trigger modal -->
            <button id="preorder" class="btn" data-toggle="modal" data-target="#exampleModal">{{ .button_text }}</button>
          {{- end }}
        </div>
      </div>
      <div class="col-md-12 col-lg-6 text-center">
      {{- with .image }}
        <img class="img-fluid" src="{{ relURL .path }}" alt="{{ .alt }}">
      {{- end }}
      </div>
    </div><!-- .row close -->

  </div><!-- .container close -->
</section><!-- header close -->
{{- end }}