<!-- Modal -->
<div class="modal fade header" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
      <div class="display modal-title">
        We aren't quite ready to take your money. 💸
      </div>
      </div>
      <p class="modal-body">
        But please sign up to stay connected as we take Paus from concept to full production. Also, reach out on <a href="https://twitter.com/chbigelow">Twitter</a> or <a href="mailto:thepausbox@outlook.com?Subject=Hello%20Paus!">email</a>!
      </p>
      <div class="modal-footer">
        <form class="mc-subscribe-bar">
            <div class="input-group">
              <input type="email" class="form-control modal-input" id="mc-email-modal" placeholder="Email Address">
              <span class="input-group-btn">
                <button class="btn" type="submit">Subscribe</button>
              </span>
          </div>
          <label for="mc-email-modal"></label>
        </form>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>