{{ with .Site.Params.promo }}
<section class="promo-details section" id="promo">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
            <h2 class="subheading">{{ .title }}</h2>
          </div>
      </div>
    <div class="row">
      <div class="col-md-6">
        <p class="content">
          {{ .intro | markdownify }}
        </p>
      </div>
      <div class="col-md-6">
        <p class="content">
          {{ .desc | markdownify }}
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}