<!-- Js -->
<script src="{{ relURL "js/vendor/jquery-2.1.1.min.js" }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/026dd18318.js" crossorigin="anonymous"></script>
<script src="{{ relURL "js/vendor/modernizr-2.6.2.min.js" }}"></script>
<script src="{{ relURL "js/jquery.ajaxchimp.js" }}"></script>
<script src="{{ relURL "js/subscribe.js" }}"></script>
<script src="{{ relURL "js/main.js" }}"></script>

{{- range .Site.Params.custom_scripts }}
<script src="{{ relURL . }}"></script>
{{- end -}}