<!-- Fonts -->
<!-- Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap" rel="stylesheet">

<!-- CSS -->

<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
<!-- Bootstrap CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
<!-- <link rel="stylesheet" type="text/css" href="{{ relURL "css/style.css" }}"> -->
<!-- <link rel="stylesheet" type="text/css" href="{{ relURL "css/responsive.css" }}"> -->

<!-- Main Stylesheet -->
{{ $style := resources.Get "scss/style.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<!-- Responsive Stylesheet -->
{{ $responsive := resources.Get "scss/responsive.scss" | resources.ToCSS }}
<link rel="stylesheet" href="{{ $responsive.Permalink }}">

{{- range .Site.Params.custom_stylesheets -}}
<link rel="stylesheet" type="text/css" href="{{ relURL . }}">
{{- end -}}