<!DOCTYPE html>
<html class="no-js">

<head>

  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M2DQVNG');</script>
  <!-- End Google Tag Manager -->

  <meta name="description" content="Paus is a box for your phone." />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Paus">
  <meta name="twitter:description" content="Paus is a beautiful lock box for your phone.">
  <meta name="twitter:image" content="https://www.pausbox.com/apple-touch-icon.png">

  <!-- Open Graph data -->
  <meta property="og:title" content="Paus" />
  <meta property="og:url" content="http://www.pausbox.com/" />
  <meta property="og:image" content="https://www.pausbox.com/apple-touch-icon.png" />
  <meta property="og:description" content="Paus is a beautiful lock box for your phone." />
  <meta property="og:site_name" content="Paus" />

  {{ template "_internal/google_analytics.html" . }}

  {{ template "_internal/google_analytics_async.html" . }}

  {{- partial "meta.html" . }}

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  {{- partial "stylesheets.html" . }}
</head>

<body id="body">

  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2DQVNG"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{- partial "navbar.html" . }}

  {{- partial "modal.html" . }}

  {{- partial "header.html" . }}

  {{- partial "features.html" . }}

  {{- partial "promo.html" . }}

  {{- partial "about.html" . }}

  {{- partial "call-to-action.html" . }}

  {{- partial "footer.html" . }}

  {{- partial "scripts.html" . }}

</body>

</html>